.flex-1 {
    flex: 1;
}

.mt-10 {
    margin-top: 5rem;
}

nav li > a {
    color: #2d394b !important;
    font-weight: bold;
    margin: 35px;
    font-size: 18px;
}

nav li > a:hover {
    color: #efc4a3 !important;
    transition: .35s ease-in-out;
}

.activelink {
    color: #efc4a3 !important;
    margin: 35px;
}

#header {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: .35s ease-in-out;
}

@media (max-width: 1400px) {
    #header {
        flex-direction: column;
        overflow: hidden;
        width: 100% !important;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        padding-left: .75rem;
        padding-right: .75rem;
    }

    #topbar {
        display: none !important;
    }

    body {
        padding-top: 105px;
    }
}
