.flex-1 {
    flex: 1;
}

.mt-10 {
    margin-top: 5rem;
}

nav li > a {
    color: #2d394b !important;
    font-weight: bold;
    padding: 35px;
}

nav li > a:hover {
    color: whitesmoke !important;
    background-color: #efc4a3;
    padding: 35px;
    transition: .35s ease-in-out;
}

.activelink {
    color: whitesmoke !important;
    background-color: #efc4a3;
    padding: 35px;
}

#header {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: .35s ease-in-out;
}

@media (max-width: 800px) {
    #header {
        flex-direction: column;
    }
}
