body {
  font-family: "Lato", sans-serif;
}

#navbar > ul > li > a {
    text-decoration: none;
}

.navbar-nav > li {
    padding: 7px;
}

.flex-basis-10 {
    flex-basis: 10% !important;
}

@media (max-width: 960px) {
    .navbar-collapse {
        display: flex ;
        flex-basis: 100% ;
        flex-grow: 1 ;
        align-items: center ;
        justify-content: center ;
    }
}

@media (max-width: 1400px) {
    #client {
        padding-top: 105px;
    }
    
    #topbar {
        display: none !important;
    }
}

@media (max-width: 1300px) {
    #sidebar {
        left: -100%;
    }

    #content {
        padding-left: 1px !important
    }
}

#sidebar::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar
{
	width: 7px;
	background-color: whitesmoke;
}

#sidebar::-webkit-scrollbar-thumb
{
	background-color: #b89c9c;
    border-radius: 25px;
}
