#navbar > ul > li > a {
    text-decoration: none;
}

#navlist {
    display: block !important;
}

@media (max-width: 960px) {
    .navbar-collapse {
        display: flex ;
        flex-basis: 100% ;
        flex-grow: 1 ;
        align-items: center ;
        justify-content: center ;
    }
}
