@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
  }
  
  html, body{
    display:table;
    height:100%;
    width:100%;
    color: #252a3b;
    background-color: #f5f8fa;
  }

#navbar > ul > li > a {
    text-decoration: none;
}

.navbar-nav > li {
    padding: 7px;
}

.flex-basis-10 {
    flex-basis: 10% !important;
}

.main-wrapper {
    display: flex;
}

.page-wrapper {
    min-height: 100vh;
    width: calc(100% - 240px);
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    -webkit-transition: margin .1s ease,width .1s ease;
    transition: margin .1s ease,width .1s ease;
}

.page-content {
    flex-grow: 1;
    padding: 25px;
    margin-top: 60px;
    background-color: #fff !important;
}

.page-nav { 
    position: fixed;
    width: calc(100% - 240px);
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    align-items: center;
    padding: 0;
    right: 0;
    left: 240px;
    z-index: 978;
    flex-wrap: wrap;
    box-shadow: 3px 0 10px 0 rgb(183 192 206 / 20%);
    transition: width .1s ease,left .1s ease;
}

.page-nav-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.nav-item {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 30px;
    display:flex;
    align-items: center;
}

.card {
    border: 0 !important;
    background-color: #f5f8fa !important;
}

.box {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

.box-border-danger {
    border-color: #dc3545;
}

.btn-primary {
    color: #fff !important;
    border-color: #00a3ff !important;
    background-color: #00a3ff !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #26b1ff !important;
    border-color: #1aacff !important;
}

.text-primary {
    color:#26b1ff !important;
}

.flex-stack {
    justify-content: space-between;
    align-items: center;
}

.page-item.active .page-link {
    z-index: 3 !important;
    color: #fff !important;
    border-color: #00a3ff !important;
    background-color: #00a3ff !important;
}
